.video-thumbnail
    position: relative
    display: inline-block
    cursor: pointer
    text-decoration: none
    padding-left: 70px
    padding-right: 70px
    padding-top: 70px
    padding-bottom: 70px

    img
        display: block
        max-width: 300%
        border-radius: 10px

    .play-button
        position: absolute
        top: 50%
        left: 80%
        transform: translate(-50%, -50%)
        font-size: 50px
        color: #e98b43
        width: 80px
        height: 80px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        transition: background-color 0.3s ease

    .section-main
        display: flex
        padding-top: 20px

i
    font-size: smaller

.video-text
    background-color: #ebc3a5
    display: flex
    justify-content: center
    align-items: center
    gap: 300px

.text
    ul
        li
            list-style-type: none
.bi
    color: #ef700f
    padding-right: 20px

.font
    font-family: Brush Script MT

.whyus
    display: flex
    align-items: center
    flex-direction: column
    padding-top: 100px
    padding-bottom: 40px
    p
        background-color:  #ebceaf
        color: #e67c0b
        border: 10px
        border-radius: 20px
        padding-bottom: 10px
        padding-left: 20px
        padding-top: 10px
        padding-right: 20px

    h1
        font-family: Brush Script MT
        span
            color: #ef830f

.nams
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 100px
    padding-left: 40px
    padding-right: 30px
    padding-top: 40px
    gap: 30px

.nams1
    background-color: #e8e7e6
    padding-bottom: 50px
    padding-left: 50px
    padding-top: 50px
    padding-right: 50px
    width: 33%
    &:hover
        background-color: #e09f14
        color: #f8f9fa
        >h3
            color: #f8f9fa

    h3
        color: #e09f14
    h2
        font-family: Brush Script MT
