.gallery-top
    display: flex
    align-items: center
    flex-direction: column
    padding-top: 100px
    padding-bottom: 40px
    p
        background-color: #ebceaf
        color: #e67c0b
        border: 10px
        border-radius: 20px
        padding-bottom: 10px
        padding-left: 20px
        padding-top: 10px
        padding-right: 20px

    h1
        font-family: Brush Script MT
        span
            color: #ef830f
.photo
    display: flex
    flex-wrap: wrap
    gap: 6px
  
    img
        width: 24vw
        


